 <body> 
 　<% provide(:title, '会員一覧') %>
   <table class="table table-striped">
    <% @Customers.each do |customer| %>
     <thead>
        <tr>
            <th>会員ID</th>
            <th>会員氏名(姓)</th>
            <th>会員氏名(名)</th>
            <th>会員ステータス</th>
            <th>詳細情報</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><%= customer.id %></th>
            <th><%= customer.last_name %></th>
            <th><%= customer. first_name %></th>
            <th><% if customer.is_deleted == true%>
            <th>
                退会済み
              <% else %>
                有効
              <% end %>
              </th>
              <th><%= link_to '詳細情報', admin_customer_path(customer) %></th>
              <% end %>
        </tr>
     </tbody>

      </tbody>
</body>