  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>ジャンル枠</h3>
      </div>
      <div class="col-md-8 offset-md-1">
        <h3>商品一覧枠</h3>
        <table>
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>商品画像</td>
              <td>商品名</td>
              <td>値段</td>
            </tr>
          </tbody>
        </table>
        <!--テーブルを４商品横ならびの二行で、ページャ機能つける-->

      </div>
    </div>
  </div>