<div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>ジャンル枠</h3>
      </div>
      <div class="col-md-8 offset-md-1">
        <h3>商品詳細枠</h3>
      </div>
    </div>
  </div>